/* common shared style */
body {
    .open-sans-uniquifier {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-variation-settings:
            "width" 100;
    }
}

header {

    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: 90%, 100%;
    background-position: center;
    width: 1320px;
    height: 600px;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 20px;
}

.first-line {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 80px;
}

.second-line {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

.discount-banner {
    width: 1200px;
    height: 800px;
}

.discount {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.discount-img {
    width: 800px;
    height: 500px;
    margin-left: 250px;
}

.party-section {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background-image: url(../resources/Vectorrr.png);
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.welcome-des {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.join {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
}

.schedule-section {
    /* display: inline;
    justify-content: center;
    align-items: center; */
    width: 1320px;
    height: 482px;
    background-color: rgba(255, 0, 0, 0.10);
}

.red-color {
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.schedule-details{
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 100px;
}

.schedule-button {
    color: #FFF;
    background-color: red;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 32px;
    gap: 10px;
    margin-left: 45%;
}