/* common shared style */
body {
    .open-sans-uniquifier {
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-variation-settings:
            "width" 100;
    }
}

header {

    background-image: url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: 90%, 100%;
    background-position: center;
    width: 1320px;
    height: 600px;
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 20px;
}

.first-line {
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 80px;
}

.second-line {
    display: flex;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
}

.discount-banner {
    width: 1200px;
    height: 800px;
}

.discount {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.deals {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.discount-img {
    width: 800px;
    height: 500px;
    margin-left: 250px;
}

.party-section {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    background-image: url(../resources/Vectorrr.png);
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    justify-items: center;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.welcome-des {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.join {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
}

.schedule-section {
    width: 1320px;
    height: 482px;
    background-color: rgba(255, 0, 0, 0.10);
}

.red-color {
    color: #F00;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.schedule-details {
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    padding-top: 100px;
}

.schedule-button {
    color: #FFF;
    background-color: red;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 32px;
    gap: 10px;
    margin-left: 45%;
}

.Offer-section {
    width: 1300px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer {
    text-align: left;
}

#Coming {
    text-align: left;
}

.coming-des {
    color: rgba(7, 2, 17, 0.60);
}

.offer-img {
    display: flex;
    justify-content: center;
    width: 364.844px;
    height: 364.844px;
    border-radius: 50%;
    border: 15px solid #F00;
    padding: 30px;
}

.offer-endpart {
    margin-left: 10%;
}

.offer-grp {
    width: 140px;
    height: 140px;
}

.functional-section {
    width: 1600px;
    height: 1335px;
    text-align: center;
}

#function-holiday {
    font-size: 72px;
}

.function-sale {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.function-grp {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fun-1st-img {
    width: 156.602px;
    height: 600px;

}

.fun-2nd-img {
    width: 206.841px;
    height: 206.841px;
    margin-left: auto;
}

.fun-3rd-img {
    width: 429px;
    height: 433px;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
    background: url(<path-to-image>) lightgray -59.98px 0px / 151.553% 100% no-repeat;
}

.fun-4th-img {
    width: 1320px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
    background: #F00;
}

.awesome-portfolio {
    width: 1600px;
    height: 1335px;
}

.awesome-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.awesome-text {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.first-line {
    display: flex;
    gap: 15px;
}

.second-line {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.rec3 {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: url(<path-to-image>) lightgray 0px -35.755px / 100% 142.115% no-repeat;
}

.rec4 {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.rec5 {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.rec6 {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: url(<path-to-image>) lightgray -195.366px 0px / 156.077% 100% no-repeat;
}

.rec7 {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.rec8 {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.subscribe-section {
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.subscribe-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-des {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.input-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-input {
    width: 438px;
    height: 66px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
}

.btn-input {
    width: 210px;
    height: 72px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}

.footer-section {
    width: 1400px;
    height: 609px;
    background: #070211;
}

.num {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}
.contact-method{
display: flex;
justify-content: space-around;
align-items: center;
}
.footer-des{
    color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 40px;
}

.call-detail{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.last-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}